<div class="container">
<h1>List of Stationeries</h1>

<% @stationeries.each do |item| %>
    <!-- Adapted from Bootstrap docs -->
    <div class="card row" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= item.product_code %></h6>
            <p class="card-text">Count: 1</p>
            <% if user_signed_in? %>
                <a href="#" class="card-link">Borrow</a>
            <% end %>
        </div>
    </div>
<% end %>
</div>