@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    font-size: 3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }

.center {
    text-align: center;
}

.container {
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
  }

#or {
    font-size: 20px;
}

#home_bg_img {
    background-image: url('/assets/backgrounds/home_bg_img.png');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tune_bg_img {
    opacity: 0.8;
    filter: brightness(50%);
}

.white_text {
    color: white;
}