@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

#or {
    font-size: 20px;
}

#home_bg_img {
    background-image: url('/assets/backgrounds/home_bg_img.jpg');
}

.white_text {
    color: white;
}