<% provide :title, "Borrow an item" %>
<div class="container">
<h3>Transaction receipt</h3>
<p>Item name: <%= @item.name %></p>
<p>Quantity: <%= @transact.quantity %> </p>
<% if @transact.due_date %>
<p>Due: <%= DateTime.parse(@transact.due_date.to_s).strftime("%l:%M %p, %e %B %Y (%A)") %></p>
<% end %>
<%= link_to "Back to Stationeries", stationeries_path, class: "btn btn-primary" %>
</div>
