<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand custom-font", href=<%= root_path %>>
            <span>RAMBUTAN STATIONERY</span>
        </a>
    </div>
</nav>